

article.article {
  float: left;
  width: 370px;
  margin: 5% 8% 5% 20%;
  padding: 3% 1% 3% 1%;
  border-radius: 12%;
  background-color:   #FFFAF0;
}

h2 {
  text-align: center;
  font-size: 175%;
  font-family: garamond;
}

img#article1 {
  width: 25%;
  margin: 2% 4% 2% 0%;
}

hr {
  border-color: inherit;
  width: 75%;
}

form {
  margin-left: 20%;
}

p {
  text-align: justify;
  text-indent: 1.3em;
}

input, 
textarea {
  width: 75%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* click on box and border goes blue */
input:focus,
textarea:focus {
  border-color: #4697e4;
}




@media (max-width: 886px){
  article.article {
  float: left;
  width: 75%;
  margin: 3% 8% 5% 12%;
  padding: 3% 1% 3% 1%;
  border-radius: 12%;
  background-color:   #FFFAF0;
}

  label, textarea, input{
    width: 80%;
    float: none;
  }
  
  aside {clear: left; margin: 3% auto 3% 18%; width: 65%;}
  label, button, h2 { text-align: center; font-size: 100%; font-family: garamond;}

  h2{font-weight: bold;}
  h1 {font-size: 170%; font-weight: bold;}
}