#body {
  background-color: #C0C0C0
  /*min-height: 100%;*/
  /*position: relative;*/
  }

/* HEADER */

header.header {
  text-align: center;
  background-color: #65E8C5;
  overflow:auto;
}

img {
  float: left;
  width: 10%;
  margin-left: 15%
}

h1 {
  margin: 4% 0% auto 13%;
  padding: 0px;
  font-family: garamond;
  font-size: 300%;
  float: left;
}

/*below, a tight BOX around nav buttons*/
ul.ul-header {
  float:left;
    list-style-type: none;
    width: 30%;
    margin-top: 3%;
    margin:left: 60%;
    display: inline;
}

/*BUTTON CONTROLS */
li.li-header {
  border: 1px outset gray; 
  border-radius: 15%;
  background-color: #FFFAF0;
  border-radius: 15%;
  padding:2%;}

/*DISABLE ANCHOR*/
a.a-header {
    display: block;
    text-decoration: none;
}

/*TEXT INSIDE BUTTONS*/
h3 {
  font-size: 90%; /*SIZE OF TEXT INSIDE BUTTON*/
  color: black; 
  font-family: garamond; 
  font-weight: 100;
}

/*  MIDDLE SECTION ROW */
section {
  overflow: auto;
  background-color: #B4E0B4;
  height: 95%;
}

aside {
  float: left;
  width: 20%;
  margin: 6% auto auto 7%;
  border-radius: 12%;
  background-color:   #FFFAF0;
  text-align: center;
}

header.aside {
  text-align: center
}

hr {
  border-color: inherit;
  width: 100%;
}

nav.aside {
  text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
  display: inline-block;
  margin: 4px;}

a { 
  color: black;
  font-size: 1.75em;
}

/*  BOTTOM */

footer {
  background-color: #65E8C5;
  /*position: absolute;*/
  /*bottom: 0;*/
  width: 100%;
  text-align: center;
  color: black;
  /*padding-top: 3%;*/
  /*padding-bottom: 3%;*/
}
h4 {text-align: center;}

/*xxxxxxxxx bp1 - header / article / aside*/

@media (max-width: 886px){

/*header */

img {
  clear:left;
  width: 20%;
  margin: 0 auto 0 30%;
  /*text-align: center;*/

}
h1 {
  /*margin-top: 0%;*/
  font-size: 275%;
  clear: left;
  margin: 0 auto 0 30%;
}

ul.ul-header { 
    width: 70%;  
    clear: left;
    margin: 0 auto 0 10%;
}

a.a-header {
  clear: left;
    display: inline; /*was block*/
     }

footer {
 padding-top: 3%;
  padding-bottom: 3%;
}

}
/*--------------------------------------------breakpoint 2: change header; */
@media (max-width:455px){
  
  img {
    float: none;
    width: 20%;
    margin: 0;
    text-align:center;
}

   h1 {
    float:none;
    margin:0 auto 0 auto;
    width:60%;
    font-size: 225%;
}

ul.ul-header {
    /*display: inline; was inline-block  */
    /*width: 100%;  */
    clear: left;
    margin: 0 auto 0 15%;
}

a.a-header {
    display: inline; /*was block*/
    width: 100px;
     }

h3 {
  font-size: 55%; 
  padding: 3%;}

}
